@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #0b0b0b; /* From original HTML */
  color: #b8b8b8; /* Default text color from header */
  margin-bottom: 6rem; /* mb-24 from original body */
}
